In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
# Import the API key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,New Norfolk,AU,2022-04-11 14:46:18,-42.7826,147.0587,51.89,65,52,1.01
1,1,Sydney,AU,2022-04-11 14:42:11,-33.8679,151.2073,67.71,90,100,26.46
2,2,Grindavik,IS,2022-04-11 14:46:19,63.8424,-22.4338,45.07,57,40,19.57
3,3,Pevek,RU,2022-04-11 14:46:19,69.7008,170.3133,-24.47,100,68,7.87
4,4,Dudinka,RU,2022-04-11 14:46:19,69.4058,86.1778,-6.11,94,32,6.82

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp],
                                 dissipating=False,max_intensity=300,point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Avarua,CK,2022-04-11 14:46:20,-21.2078,-159.7750,75.25,100,100,2.30
7,7,Rikitea,PF,2022-04-11 14:46:20,-23.1203,-134.9692,78.91,73,2,19.39
11,11,Kavieng,PG,2022-04-11 14:46:22,-2.5744,150.7967,82.09,76,8,12.37
17,17,Mweka,CD,2022-04-11 14:46:24,-4.8500,21.5667,84.94,54,79,0.40
19,19,Antalaha,MG,2022-04-11 14:46:25,-14.9003,50.2788,78.44,77,64,10.63
20,20,Coahuayana,MX,2022-04-11 14:46:26,18.7333,-103.6833,86.47,45,22,2.15
21,21,Butaritari,KI,2022-04-11 14:46:26,3.0707,172.7902,79.63,80,76,5.79
27,27,Netarhat,IN,2022-04-11 14:46:28,23.4833,84.2667,77.04,11,99,1.79
33,33,La Asuncion,VE,2022-04-11 14:46:31,11.0333,-63.8628,82.13,78,23,18.41
35,35,Arraial Do Cabo,BR,2022-04-11 14:46:32,-22.9661,-42.0278,82.26,61,40,6.91

In [20]:
preferred_cities_df.count()

City_ID       180
City          180
Country       180
Date          180
Lat           180
Lng           180
Max Temp      180
Humidity      180
Cloudiness    180
Wind Speed    180
dtype: int64

In [21]:
hotel_df = preferred_cities_df[['City','Country','Max Temp','Lat','Lng']].copy()
hotel_df['Hotel Name'] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
5            Avarua      CK     75.25 -21.2078 -159.7750
7           Rikitea      PF     78.91 -23.1203 -134.9692
11          Kavieng      PG     82.09  -2.5744  150.7967
17            Mweka      CD     84.94  -4.8500   21.5667
19         Antalaha      MG     78.44 -14.9003   50.2788
20       Coahuayana      MX     86.47  18.7333 -103.6833
21       Butaritari      KI     79.63   3.0707  172.7902
27         Netarhat      IN     77.04  23.4833   84.2667
33      La Asuncion      VE     82.13  11.0333  -63.8628
35  Arraial Do Cabo      BR     82.26 -22.9661  -42.0278

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius":5000,
    "type":"lodging",
    "key":g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude to location key for the params dictionary.
    params['location'] = f"{lat},{lng}"
    
    # Use the serach term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url,params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index,"Hotel Name"] = hotels["results"][0]['name']
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
7,Rikitea,PF,78.91,-23.1203,-134.9692,People ThankYou
11,Kavieng,PG,82.09,-2.5744,150.7967,Nusa Island Retreat
17,Mweka,CD,84.94,-4.8500,21.5667,Guest House Boshab
19,Antalaha,MG,78.44,-14.9003,50.2788,Hotel Vitasoa
20,Coahuayana,MX,86.47,18.7333,-103.6833,El rranchito michuacan de ocampos
21,Butaritari,KI,79.63,3.0707,172.7902,Isles Sunset Lodge
27,Netarhat,IN,77.04,23.4833,84.2667,HOTEL PRAKASH
33,La Asuncion,VE,82.13,11.0333,-63.8628,Colinas de Matasiete
35,Arraial Do Cabo,BR,82.26,-22.9661,-42.0278,Pousada Porto Praia

In [26]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat","Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=max_temp,dissipating=False,
                                max_intensity=300,point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat","Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=max_temp,dissipating=False,
                                max_intensity=300,point_radius=4)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))